<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>

                <span class="title1">Seja bem-vindo!</span>
                <span class="title2">Meu nome é Guilherme Costa, sou programador fullStak há 1 ano.</span>

            </h1>

            <p class="paragraph">Conheça mais sobre mim, meus projetos e habilidades técnicas.</p>

            <div class="buttons">
                <a>
                    <i class="material-symbols-outlined">
                        sentiment_very_satisfied
                    </i>Sobre mim
                </a>

                <a>
                    <i class="material-symbols-outlined">
                        check
                    </i>
                    habilidades
                </a>
            </div>
        </div>
    </section>

    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="./assets/imgs/Profile.jpg" alt="foto de guilherme costa">
            </div>
        </div>
        <div class="text">
            <h2>Sobre mim</h2>
            <h3>Sou desenvolvedor fullStak há 1 ano, especializado em JavaScript, Angular é TypeScript</h3>
            <p>E aí pessoal tudo bem? Me chamo Carlos Guilherme, sou desenvolvedor front-end em constante evolução, com paixão por criar interfaces intuitivas, funcionais e visualmente agradáveis.</p>
            <p>Tenho experiência com tecnologias modernas de desenvolvimento web e estou sempre em busca de entregar experiências que realmente façam sentido para o usuário.</p>
            <p>Atualmente, estou trabalhando em uma agenda odontológica, desenvolvendo a interface e conectando tudo com o backend em Node.js e banco de dados MySQL, além de realizar testes via Postman.</p>
        </div>
    </section>
</main>